@media screen and (max-width: 600px) {
    header#mobile {
        display: block;
    }

    header {
        display: none;
        background: #0f1111;
    }

    /* Header Section */
    #navBar {
        padding: 0 1rem;
        height: 3rem;
    }

    #navLogo .logo {
        font-size: 2rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    #sec-Div {
        width: 50%;
    }

    #navSearch {
        width: 90%;
        margin: 0 auto .5rem auto;
        border-radius: 10px;
        overflow: hidden;
        border: 3px solid transparent;
    }

    #navSearch input {
        outline: none;
        padding-left: .5rem;
    }

    i.nav-icons {
        font-size: 3rem;
    }

    #navCart {
        margin-left: 1rem;
    }

    /* box 6 of Navigaton bar */
    i.nav-icons {
        font-size: 1.2rem;
    }

    #pannelOps {
        position: relative;
    }

    #pannelOps::before {
        content: "Shop by";
        position: absolute;
        top: -10px;
        font-size: .5rem;
        left: 0;
        color: white;
        width: 100%;
        height: 100%;
    }

    #pannelDeals {
        font-size: 0.6rem;
    }

    /* Side bar */
    #sideBar::before {
        transform: translateX(35vw);  
    }

    #sideBar.active::before {
        transform: translateX(85vw); 
    }

    /* home Sction */
    #home {
        background: url(../img/hero_image.jpg);
        background-size: cover;
        /* height: 18.7rem; */
        height: 10rem;
    }

    #home .homeMsg,
    #home button {
        display: none;
    }

    #shopSection {
        overflow: auto;
    }

    div.slider {
        width: 50%;
        flex-wrap: nowrap;
    }

    #shopSection .box {
        width: 45%;
        height: 180px;
    }

    .boxContent h2 {
        font-size: .9rem;
    }

    .boxImg {
        height: 70%;
        margin: .5rem 0;
    }

    .boxContent p {
        /* display: none; */
        font-size: .7rem;
    }

    footer {
        display: none;
    }

    footer#mobile {
        display: block;
    }

    .foot-logo .logo {
        font-size: 2rem;
    }

    .foot-pannel2 {
        background: #222f3df3;
        min-height: 10rem;
        padding-bottom: 2rem;
    }

    .foot-pannel2 ul {
        margin-top: 3rem;
        width: 40%;
    }

    .foot-pannel2 ul p {
        margin-top: 1rem;
    }

    .foot-pannel2 ul p:hover {
        color: #597ea5;
    }

    .foot-pannel4 {
        height: 19rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #lang-btn {
        border: none;
        margin: 0rem auto;
        margin-bottom: 1.5rem;
        width: 9rem;
        outline: none;
    }

    .foot-pannel4 .foot-pages {
        padding-top: .7rem;
        font-size: .75rem;
    }

    .foot-pannel4 .foot-pages a {
        text-decoration: none;
        color: white;
        margin-left: .9rem;
    }

    .foot-pannel4 .copyright {
        font-size: .7rem;
    }

    /* Side bar Close */
    #sideBar {
        width: 20rem;
    }

    span.bg {
        position: absolute;
        background: rgba(0, 0, 0, 0.63);
        width: 100vw;
        height: 100vh;
        transform: translateX(-100vw);
        transition: transform 0.5s ease;
    }

    #sideBar.active span.bg {
        transform: translateX(20rem);
    }
}

/* @media screen and (min-width: 601px) and (max-width: 900px) {
    body {
        font-size: 16px;
    }
}*/